{% extends "layout.html" %}

{% block title %}
    HydroGreen Los mejores
{% endblock %}

{% block main%}
<h1>Servicios prestados</h1>

</div> <div class="separator  small left  "></div>

<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <ul>
<li>Diseño integral de plantaciones agrícolas y pecuarias.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Diseños conceptuales o de prefactibilidad, diseños de factibilidad y diseños para licitación de proyectos de riego y drenaje agrícola.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Diseño detallado de sistemas de riego. Goteó, aspersión, superficie y subirrigación.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Estudios para el control de inundaciones y diseño de estaciones de bombeo.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Diseño detallado para construcción de sistemas de drenaje agrícola.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Diseño detallado para construcción de embalses de uso agrícola.</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Diagnóstico de sistemas de riego y drenaje.</li>
</ul>

    </div> 

{% endblock %}



